node_modules/
bin/
dist/
build/
public/
newman/
venv/
.vscode/
.venv/
.idea
.terraform
tools/files
*.key
*.env

# utils directory will be clone during pipeline.
utils

.#*

__pycache__/
.envrc

**/.DS_Store
